
<article class="{{post_class}}">
  {{#if feature_image}}
    <a href="{{img_url feature_image}}" class="featured-image">
      <img src="{{img_url feature_image}}" alt="{{title}}" />
    </a>
  {{/if}}
  <div class="date-and-title">
    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
      {{date format="MMMM D, YYYY"}}
    </time>
    <h2 class="post-title">
      <a href="{{url}}">{{{title}}}</a>
    </h2>
  </div>
</article>
