
<article class="{{post_class}}">
    <img src="{{image}}" class="featured-image" alt="{{title}}" />
    <div class="date-and-title">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="MMMM D, YYYY"}}
      </time>
      <h2 class="post-title">
        <a href="{{url}}">{{{title}}}</a>
      </h2>
    </div>
</article>
