
<article class="{{post_class}}">
    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM D, YYYY"}}</time>
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
</article>
