{{!< default}}

<article class="single-post {{post_class}}">
{{#post}}
  <a href="{{image}}" class="featured-image">
    <img src="{{image}}" alt="{{title}}" />
  </a>
  <div class="date-and-title">
    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
      {{date format="MMMM D, YYYY"}}
    </time>
    <h2 class="post-title">
      <a href="{{url}}">{{{title}}}</a>
    </h2>
  </div>
{{/post}}
</article>